[2015-09-09 00:23] jamessdixon opened #4 "Sql Server Dependencies"
I forked the repo and brought it local.  When I opened it using VS2015 Ultimate, I get the following error message
<img width="347" alt="capture" src="https://cloud.githubusercontent.com/assets/1394644/9750562/71e2dd2e-5667-11e5-9873-bfad5f9d0ddd.PNG">

[2015-09-09 00:26] jamessdixon opened #5 "Project does not compile"
After pulling down a forked repo, I tried to compile the 2 CPP projects (PwmPCA9685 & PwmSoftware).  It says it successfully compiles, but no .dll is generated in the .bin folder.  Also, the references from the SamplePWMConsumer project are broken.
<img width="257" alt="capture" src="https://cloud.githubusercontent.com/assets/1394644/9750586/d38abb28-5667-11e5-82a5-96b8e6e35e03.PNG">

Recompiling

[2015-10-12 18:01] jessekaplan commented on #5
We've not been able to reproduce this problem. You should be able to find the binaries (for an ARM build) in this path: BusProviders-develop\PWM\ARM\Debug

Have you tried creating a new C++/CX project (for desktop)? It's possible this is a configuration issue.

Thanks,
Jesse

[2015-10-19 07:57] CodeChief opened #13 "Lightning Providers Arduino Dependency = Only Runs On Arduino?"
Do these drivers run on normal RasPi2 IoT Core machines without any Arduino? The way it's presented on the IoT download page (download link with big Arduino logo) and NuGet dependency suggests not.

[2015-10-19 18:45] MahmoudGSaleh commented on #13
The providers will run on Raspberry Pi2 or MBM with Windows IOT Core only. They won't run on an Arduino nor they're designed to communicate with one.
The main goal of the providers is to interface with a new Direct memory mapped driver that provide a huge boost in the performance of bus controllers, including GPIO, SPI and I2c on Raspberry Pi 2 or MBM.

Note, there are two other open-source librar

[2015-10-20 06:20] CodeChief commented on #13
First thanks for the quick and detailed response, but unless I am mistaken it is does not appear to be the case:
1. The documentation states the Ardino SDK is required.
2. The only public release, the NuGet 1.0.0-alpha package, _requires the Arduino SDK and only includes the C++ and AVR/Arduino headers (no built component/assemblies/libraries)_.

Please release a separate NuGet package with a UWP

[2015-10-20 18:42] MahmoudGSaleh commented on #13
Thanks for your suggestions!

Agree, the docs need more clarification in that regards. We are working on fixing it!

The dependency on the Arduino SDK, or more specifically on the [`Microsoft.IoT.SDKFromArduino`  NuGet package](https://github.com/ms-iot/arduino-sdk), is needed because the `Microsoft.IoT.Lightning` Nuget package references some of its declarations from `Arduino.h`. That enables sup

[2015-10-21 05:21] CodeChief commented on #13
OK, all clear now, thanks :-)

[2015-10-21 05:21] #13 closed, assigned to nobody

[2015-12-07 21:46] ooeygui commented on #5
We cannot repro this issue

[2015-12-07 21:46] #5 closed, assigned to nobody

[2015-12-25 21:49] wldevries commented on #4
This is a common dependency for building C++ projects with Visual Studio.

[2015-12-29 13:11] Norbert62 opened #18 "Cannot create more than one SPI device from SPI controller on Raspberry PI 2"
The following code throws an unhandled System.IO.FileLoadException with message "The process cannot access the file because it is being used by another process." when using the lightning library.The catch block is not entered.

[code]

Creating only one device works without any error. Platform is Raspberry Pi 2 Model B running Windows IoT 10.0.10586. The code runs flawlessly with the Inbox driver.

[2015-12-29 13:17] Norbert62 opened #19 "Reading SPI with TransferFullDuplex method does not deliver any data on Raspberry PI 2"
The following code delivers only empty bytes in resultBuffer. deviceCmd is a SPI device on line 0 using the lightning provider:

[code]

The test device is a vlsi codec chip. The same method run with the Inbox driver delivers data as expected. Platform is Raspberry Pi 2 Model B running Windows IoT 10.0.10586. Method TransferSequential does not work either with lightning provider.

[2015-12-29 13:37] Norbert62 opened #20 "Cannot create more than one I2C device from I2C controller on Raspberry PI 2"
The following code throws an unhandled System.IO.FileLoadException with message "The process cannot access the file because it is being used by another process." when using the lightning library.The catch block is not entered.

[code]

Creating only one device works without any error. Platform is Raspberry Pi 2 Model B running Windows IoT 10.0.10586. The code runs flawlessly with the Inbox driver.

[2016-01-04 19:16] jessekaplan commented on #4
I've not been able to repro this. Can you delete the file and reopen the project? VS will rebuild it and you should be set.

Thanks,
Jesse

[2016-01-05 12:01] NameOfTheDragon opened #21 "I2C Bus Speed too fast when set to 'Standard' mode, resulting in data corruption"
When using an I2C device with the bus speed set to 'Standard' mode, the bus speed used by the Lightning provider is too fast and exceeds the 100KHz maximum, resulting in data corruption.

I create my I2C settings like this:

[code]

With the default 'inbox' driver, that produces bus activity like so (note the SCL frequency measures dead on 100KHz, which is the maximum allowed speed in Standard mod

[2016-01-05 12:04] NameOfTheDragon commented on #21
This of course is a SHOWSTOPPER because the I2C bus simply doesn't work, with no possible fix in software.

I also forgot to mention: This is using a Raspberry Pi 2, running IoT Core build 10.0.10586

[2016-01-13 08:47] CodeChief opened #23 "LightningProvider Required Capabilities Not Documented Here"
In the ReadMe.md of the Lightning providers you are missing the critical requirement that the "lowLevelDevices" and the other hidden device capability GUID must be added. Otherwise people will just have their correct code (copied from the sample) bomb-out in Managed code without any error message!

It's only documented here:  https://ms-iot.github.io/content/en-US/win10/LightningProviders.htm
http

[2016-01-13 08:52] CodeChief opened #24 "Remove Un-necessary Internet Client Capability from Lightning Provider"
Please remove the "internet client" capability from the Lightning Provider before you deliver a final NuGet package with the consumer WINMD (I know currently the NuGet package just has C++/Arduino dependencies).

I presume you are delivering the Microsoft.Iot.LightningProvider.winmd to NuGet, else it's very cumbersome to have to build and copy interim code just to use the new provider.,

Anyway th

[2016-01-13 08:56] CodeChief opened #25 "IoT Capabilities Not Visible in Visual Studio Package Manifest Editor"
Following on from #23 can we get these "hidden" capabilities (the "lowLevelDevices" and the device GUID) into the VS editor? I appreciate if this is not for this repository then please tell me where it should be logged. Last time I tried to raise an issue about an MS SDK with MS Connect for Visual Studio they just closed it as "external" without any explanation or come-back.

Failing an editor, pe

[2016-01-13 09:21] CodeChief opened #26 "Support ValueChanged and DebounceTimeout in Lightning Provider"
The current Lightning provider does not support the ValueChanged event or the DebounceTimeout property because, according to the source GpioDeviceProvider.h it says "Not implemented since Lightning does yet support interrupts yet".

I don't see any roadmap or milestone in GitHub. Can you please give us a hint how long it will be before we can use that.

Also when you implement it, please consider

[2016-01-13 16:56] bfjelds commented on #25
Thanks for the feedback!  We are definitely aware of this omission in Visual Studio's UI.  We are working with Visual Studio to fit this into their schedule.

[2016-01-13 18:11] MahmoudGSaleh commented on #24
Thanks for pointing out the "internetClient" issue. You're right, It' not needed, and we'll remove it.
Yes, we are planning to deliver a Nuget containing the WinRT component. You may have noticed, the script and  to create the Nuget has already been committed under BusProviders/Microsoft.IoT.Lightning.Providers/Nuget, so the next step is to publish it.

[2016-01-13 18:29] jessekaplan commented on #26
We're actively working on the interrupt support and expect to have it available within a few weeks.

For the timestamp request, we would have to update the in-box APIs and so that can't be added as part of a github update. We do like that feature request though and are looking at options for implementing it and getting it out there.

Thanks,
Jesse

[2016-01-13 20:09] CodeChief commented on #26
Sounds great, thanks for replying so quickly :+1:

[2016-02-13 22:17] Antoniodelaiglesia commented on #21
I can reproduce this

[2016-02-19 19:02] delamitry opened #29 "BackgroundMediaPlayer in universal app doesn't work when lightning providers used."
I'm not sure where to log this issue but the BackgroundMediaPlayer doesn't seem to work when I enable the Direct Memory Mapped Driver on the rpi2.  When I change back to Inbox Driver, starts working again.

[2016-02-19 20:37] delamitry commented on #29
This is the simplest example I could come up with that works fine before enabling the lightning providers.
`var synthesizer = new SpeechSynthesizer();
var stream = await synthesizer.SynthesizeTextToStreamAsync("Hello World");
BackgroundMediaPlayer.Current.SetStreamSource(stream);
BackgroundMediaPlayer.Current.Play();`

[2016-02-19 23:27] MahmoudGSaleh commented on #18
Thanks for finding this issue!
The issues is being caused by the code initializing the controller device. It's currently set to exclusive, which results in the exception thrown when accessing the same controller device more than once.
We will look into a fix for this ASAP.

[2016-02-19 23:28] MahmoudGSaleh commented on #21
Thanks for finding this issue!
Looks like this is caused by the wrong clock divider value used.
We will look into a fix for this ASAP.

[2016-02-19 23:33] MahmoudGSaleh commented on #19
Thanks for finding this issue!
Can you please provide more context into the issue?
As self-contained source code, as well as details about the device used would be very helpful.

Thanks!

[2016-02-20 23:50] Norbert62 commented on #19
The bug was detected using a vlsi 1503 codec chip. Trying to read a value from a command register using full duplex SPI transfers failed with the lightning code. It works flawlessly with the builtin spi driver.

[2016-02-28 22:09] delamitry commented on #29
I've determined that it is only affecting the headphone jack on the rpi2.  HDMI audio is working along with a usb audio.

[2016-02-29 17:17] jordanrh1 commented on #29
The issue is that dmap.sys is being installed on the PWM device node, which is used for audio.

To reinstall the correct driver on the PWM device node, run

[code]

Verify that correct driver is running on PWM node:

[code]

A fix for the issue will be available in the next insider preview. Thank you for reporting it.

[2016-03-04 22:43] MahmoudGSaleh commented on #21
The clock divider was not set correctly. In the Lightning package source '\packages\Microsoft.IoT.Lightning.1.0.2-alpha\build\native\include\BcmI2cController.h' , can you try changing the value of the const ULONG CDIV_100KHZ to 2500 instead of the current 1500, then rebuild the project?

[2016-03-12 19:22] NameOfTheDragon commented on #21
I see you have already published a new NuGet package, 1.0.3-alpha. I've updated my solution to that version and it's spot on 100KHz now, so I'd say that is a fix. Many thanks for that!
![100khz](https://cloud.githubusercontent.com/assets/1268490/13724766/6e739df6-e887-11e5-8197-99d2a12df37e.PNG)

P.S. How about pushing the package for the Lightning Provider so I don't have to deal with the C++ sou

[2016-03-13 01:22] NameOfTheDragon opened #32 "Lightning provider allows only one instance of I2cDevice"
When using the lightning provider, as soon as I try to create a second instance of I2cDevice, I get the following error:

This is at variance with the inbox provider, which works as expected.

Unfortunately this means that the lightning provider prevents communication with more than one I2C device, unless all other instances are disposed and re-created every time they are used. This is no good at

[2016-03-14 20:06] MahmoudGSaleh commented on #24
This has been fixed.

[2016-03-14 20:13] MahmoudGSaleh commented on #21
Thank you for confirming!

Apologies for the delay in releasing the Nuget providers. We've been planning to publish it on Nuget for some time now, but it's been delayed by some prerequisites for publishing binaries. Hopefully, it's all resolved now and we'll be able to release it shortly, this week or next week.

[2016-03-15 01:17] NameOfTheDragon commented on #21
That will be helpful – thanks!

However, did you notice that I found what appears to be another showstopper in the I2C provider? Basically, with the lightning driver, you can only create one instance of an I2cDevice. Since I2C is meant to be a multi-device bus, that’s a bit of a problem.

Please see https://github.com/ms-iot/BusProviders/issues/32

Best regards,
Tim Long

From: Mahmoud Saleh [mail

[2016-03-15 16:43] MahmoudGSaleh commented on #21
It's been a known issue and the fix has been pulled to the [Lightning repository](https://github.com/ms-iot/Lightning).
Unfortunately,  it didn't make it to the latest Lightning Nuget, 1.0.3-alpha.

However, the fix is straightforward to apply. Either, copy [DmapSupport.cpp](https://github.com/ms-iot/lightning/blob/develop/source/DmapSupport.cpp) from the Lightning repository to your Lightning sou

[2016-03-15 16:46] MahmoudGSaleh commented on #32
Adding my comment from [#21](https://github.com/ms-iot/BusProviders/issues/21) here as well.

The fix has been pulled to the [Lightning repository](https://github.com/ms-iot/Lightning).
Unfortunately,  it didn't make it to the latest Lightning Nuget, 1.0.3-alpha.

However, the fix is straightforward to apply. Either, copy [DmapSupport.cpp](https://github.com/ms-iot/lightning/blob/develop/source/Dm

[2016-03-15 16:59] NameOfTheDragon commented on #32
I can give that a go.

How does that line of code relate to the sharing mode specified in the I2cConnectionSettings? It isn't clear to me whether the driver is using shared mode for the device, or the controller. The abstraction is that there is an I2C Controller, which can create I2cDevices; each I2cDevice corresponds to an endpoint/slave device on the bus and the controller corresponds to the bu

[2016-03-15 17:52] MahmoudGSaleh commented on #32
With the current implementation of the I2C Lightning provider, every time a new I2CDevice is created, the code creates a new device driver object (CustomDevice::FromIdAsync) to send/receive the IOCTLs needed to send the I2c device transactions. When the share mode was set to exclusive, only the 1st call succeed and subsequent ones failed.

Ideally, we should make that call at the I2cController lev

[2016-03-15 18:00] NameOfTheDragon commented on #32
Thanks for the clarification. I think this is OK, if I understand correctly (I don't pretend to understand the complexities of Windows device drivers). My expectation as a developer is that in Shared mode, I want to be able to have multiple threads all talking to a slave device, but in exclusive mode only one at a time. I think that's what you've said...

[2016-03-15 18:16] MahmoudGSaleh commented on #32
Just to clarify, the Lightning providers library does NOT honor the I2cConnectionSettings.SharingMode correctly today. It'll treat all I2cConnections as 'shared'. This is something we're working on fixing as well.

[2016-04-06 09:53] aL3891 opened #33 "Project status"
Hello,
What is the current status of this project? it looks very promising but looking at the history there doesn't seem to be a lot of activity and its very cumbersome to use since its not published to nuget and the instructions are somewhat lacking.

[2016-04-06 16:36] jessekaplan commented on #33
Thanks for your interest here. We're working on improving the usability by adding Nuget packages and the instructions will be updated in sync.

We recently added the "simulated hardware" provider to allow for app development/debugging when using the actual hardware is inconvenient. Beyond the improved usability of what we have, were there other improvements/additions you were hoping for?

Thanks,

[2016-04-06 22:22] aL3891 commented on #33
I think the prime points of improvement would be nuget publishing and docs, its such a shame that you're doing all this work and its so hidden away. Being able to do closed loop and high perf timing (via interrupts) is super useful.

Its also a little confusing that this library has a dependency to arduino, you mentioned in another issue that you were thinking about factoring that out and i agree

[2016-04-21 07:26] siochs opened #34 "abs macro in arduino.h violates compiling in release configuration in vs2015"
Hi, first I would like to refer to the following location at [msdn forum](https://social.msdn.microsoft.com/Forums/en-US/7537e5fb-a815-45df-ac1f-d12a03c91934/compiling-microsoftiotlightningproviders-in-release-configuration?forum=WindowsIoT).
The abs macro in Arduino.h prevents chrono std library to compile when switching from Debug to Release configuration in Visual Studio 2015. Deleting this mac

[2016-04-26 10:23] AlexandrSurkov commented on #26
Hello! Is there any news about ValueChanged supporting?

[2016-04-26 17:13] jessekaplan commented on #26
We've been blocked on a few related issues, but have just cleared those up. They will be going up today.

--Jesse

[2016-04-27 09:45] AlexandrSurkov commented on #26
Thanks!

[2016-05-04 07:18] AlfoldiMate commented on #32
Is there any solution yet about how I could communicate with two different I2C device?

[2016-05-04 17:01] MahmoudGSaleh commented on #32
Hi AlfoldiMate, Can you try upgrading to the latest Lightning SDK, 1.0.4 (uploaded last week), from your Visual Studio project? It enables driver sharing, so should resolve this issue.

Related to that, we've also updated the [WinRT Lightning providers](https://github.com/ms-iot/BusProviders/tree/develop/Microsoft.IoT.Lightning.Providers/Providers) project with several bug fixes and enabled GPIO c

[2016-05-05 07:22] AlfoldiMate commented on #32
I updated to the latest Lightning SDK, but my Lightning provider was the latest. It was working for me, with one i2c device without the sdk.
Here is my relevant code:

[code]

If I initialize just one I2cDevice it works fine, but I get blue screen, when I want to use both. Driver have been changed in the Device Portal, and the default provider have been set to the Ligthning provider. I do not know

[2016-05-09 16:49] MahmoudGSaleh commented on #32
Let me try the same. Blue screen could mean an issue with the driver.
Can you tell me the version of IOT Core you're using?

[2016-05-24 18:32] MahmoudGSaleh commented on #32
Tried it with the Raspberry Pi Sense Hat and works fine when initializing two i2c devices (). I've used the Lightning binary nuget (Microsoft.IoT.Ligthning v1.1.0-alpha). Here's a fork of the RPI.SenseHat project that supports Lightning: [https://github.com/msalehmsft/RPi.SenseHat/commit/bcae785b921314eb8617b15e86c0f2aa62ee064a](https://github.com/msalehmsft/RPi.SenseHat/commit/bcae785b921314eb861

[2016-05-24 20:37] MahmoudGSaleh commented on #26
`ValueChanged` and `DebounceTimeout`  are now supported in the latest Nuget. Note, the code for the Lightning providers has moved to the [Lightning repository](https://github.com/ms-iot/lightning), with the binaries published to as part of the latest [Lightning SDK Nuget package](https://www.nuget.org/packages/Microsoft.IoT.Lightning/1.1.0-alpha).

[2016-05-24 20:41] MahmoudGSaleh commented on #33
We've completed another round of refactoring.
The code for the Lightning providers has moved to the [Lightning repository](https://github.com/ms-iot/lightning), while the binaries (for all Lightning SDK components) are now included and published as part of the latest [Lightning SDK Nuget package](https://www.nuget.org/packages/Microsoft.IoT.Lightning/1.1.0-alpha).
So, apps that need Lightning only

[2016-05-24 20:42] MahmoudGSaleh commented on #24
The latest sample code updates have these capabilities removed.

[2016-05-24 20:42] #24 closed, assigned to MahmoudGSaleh

[2016-05-24 21:25] NameOfTheDragon commented on #32
OK, this package was published after I originally reported the issue, so I will give it a try and see if I can reproduce your success.

I can only see version 1.0.0 listed on the NuGet web site though… perhaps it doesn’t show pre-release versions. I’ll try it from Visual Studio ASAP and report back.

Thanks,
Tim

From: Mahmoud Saleh [mailto:notifications@github.com]
Sent: 24 May 2016 19:49
To: ms-

[2016-05-24 22:01] MahmoudGSaleh commented on #32
Thanks!
To view the pre release packages, please check the "Include prerelease" option in the Nuget package manager.

![nuget-cap](https://cloud.githubusercontent.com/assets/12202790/15521388/57a139fe-21c0-11e6-9b09-05c4c1604528.PNG)

Also, after you install this Nuget, you will need to remove the Providers project from your solution, since this package replaces it.

[2016-06-02 15:48] NameOfTheDragon commented on #32
I'm not able to verify this because the last two Insider builds are very unstable on my Pi3. The penultimate build is unable to shut down or restart correctly. The latest build works on first boot but fails on subsequent boots until the SD card is reimaged. Any idea how I report this?

[2016-06-02 17:05] MahmoudGSaleh commented on #32
Can you try another SD card? May I suggest one of these: [this one](http://www.amazon.com/gp/product/B00IVPU786) or [this one](http://www.amazon.com/SanDisk-Ultra-Micro-SDHC-16GB/dp/9966573445).
If that doesn't work, can you please post this issue on the [Windows IOT forum](https://social.msdn.microsoft.com/forums/en-US/home?forum=WindowsIoT)

[2016-06-02 18:15] NameOfTheDragon commented on #32
@Mahmoud I bought it new with the raspberry pi, there shouldn’t be anything wrong with it. It’s the SanDisk one that I have (your second link). And it works fine with the original IoT build. I have another one somewhere, I’ll give that a go and see if it is any different, just in case; but I really don’t think the SD card is the problem…
--Tim

From: Mahmoud Saleh [mailto:notifications@github.com]

[2016-06-02 19:07] MahmoudGSaleh commented on #32
@NameOfTheDragon Agree, if the SD card is working with another IOT build, then most probably it's a different issue. Can you try posting the issue to the [Windows IOT forum](https://social.msdn.microsoft.com/forums/en-US/home?forum=WindowsIoT) ?

[2016-06-02 23:29] NameOfTheDragon commented on #32
Thanks. I tried the alternative SD card, a 32 Gb SanDisk Ultra HC-I and that’s made no difference. I still can’t shutdown/restart cleanly – I have posted on the forum and will see what we can discover there: https://social.msdn.microsoft.com/Forums/en-US/d0fa9ace-3458-456d-bc42-e01818d09ffa/insider-builds-untable-on-raspberry-pi-3?forum=WindowsIoT

Thanks,
Tim Long

From: Mahmoud Saleh [mailto:not

[2016-06-13 21:04] andyfung commented on #26
I installed Microsoft IoT Lightning SDK 1.1.0-alpha. However, the ValueChanged still does not work.

[2016-06-13 21:32] MahmoudGSaleh commented on #26
@andyfung What is the error you're getting? Can you share some code?

[2016-06-13 21:35] andyfung commented on #26
I am running the sample code BlinkyBackground and PushButton from https://github.com/ms-iot/BusProviders/tree/develop/Microsoft.IoT.Lightning.Providers.

In BlinkyBackground, it is work well. But in PushButton, there is no interrupt with ValueChanged.

[2016-06-13 21:40] MahmoudGSaleh commented on #26
Is the HW setup for the PushButton the same as the one [here](https://developer.microsoft.com/en-us/windows/iot/win10/samples/pushbutton) ?
If you push the button, do you get any feedback on the screen/red led?

[2016-06-13 21:41] MahmoudGSaleh commented on #26
Also, are you using Raspberry Pi 2/3 or MBM?

[2016-06-13 21:47] andyfung commented on #26
1) The HW setup is the same.
2) When I push the button, there is no led at all.
3) If I am not running with Lightning, PushButton works fine. That mean I installed back the "Inbox Driver" instead of "Direct Memory Mapped Driver" on web portal.

And I set breakpoint in the if statement shown as below, so I can tell lightning is enable or not:

[code]

When lightning is enabled, ValueChanged does no

[2016-06-13 21:51] andyfung commented on #26
And I am running on Rasp Pi 2.

[2016-06-13 21:56] MahmoudGSaleh commented on #26
@andyfung Thanks for your feedback.
I'll try to reproduce the issue with the same sample.

[2016-06-13 21:58] andyfung commented on #26
Thanks a lot! I appreciated it.

[2016-06-14 18:08] andyfung commented on #26
Hello! Any updated?
Thanks

[2016-06-16 01:05] MahmoudGSaleh commented on #26
Apologies for the delay. I'm still unable to reproduce the issue with the latest Lightning SDK.
I'll try again tomorrow with a few different combinations.

[2016-06-16 04:51] andyfung commented on #26
Thanks. Let me know if more information is needed from me.

[2016-06-16 18:57] MahmoudGSaleh commented on #26
I figured you maybe using an older build of IOT Core. My guess, you're using 10586?
Unfortunately, the driver didn't support hardware interrupts then.
Can you try with a newer build? 14352 has the updated driver. If you're not already using the IOT Core Dashboard app, please follow [this link](https://developer.microsoft.com/en-us/windows/iot/downloads) to get it (or download directly from [here](

[2016-06-16 20:32] andyfung commented on #26
Correct. i am using 10586 which the instruction told me. How can I get 14352?

[2016-06-16 20:36] andyfung commented on #26
I flash my SD with IoT core which I got it from https://developer.microsoft.com/en-us/windows/iot/downloads

[2016-06-16 20:42] MahmoudGSaleh commented on #26
To get 14352,

1- Please download and install the Windows IOT Core Dashboard from [here](http://go.microsoft.com/fwlink/?LinkID=708576). Also available from [https://developer.microsoft.com/en-us/windows/iot/downloads](https://developer.microsoft.com/en-us/windows/iot/downloads)
2. After the installation is complete, open the Dashboard application,
3. Go to "Setup a new device" page.
4. Choose you

[2016-06-16 20:43] MahmoudGSaleh commented on #34
@siochs Thanks for finding this. It'll be fixed in the next version of the SDK

[2016-06-16 20:43] andyfung commented on #26
I have the Dashboard already. The problem is the device type doesn't show me 14352. It only show me "Windows IoT Core for Raspberry Pi 2".

[2016-06-16 20:44] MahmoudGSaleh commented on #18
Fixed in the latest Lightning SDK, v1.1.0-alpha

[2016-06-16 20:44] #18 closed, assigned to MahmoudGSaleh

[2016-06-16 20:45] #33 closed, assigned to MahmoudGSaleh

[2016-06-16 20:45] andyfung commented on #26
![image](https://cloud.githubusercontent.com/assets/19196111/16132588/a5f78da0-33c8-11e6-8909-dc07b9e550c5.png)

[2016-06-16 20:46] MahmoudGSaleh commented on #21
Fixed in the latest Lightning SDK, v1.1.0-alpha. If still not fixed, please reopen the issue.

[2016-06-16 20:46] #21 closed, assigned to MahmoudGSaleh

[2016-06-16 20:47] MahmoudGSaleh commented on #20
Fixed with the latest Lightning SDK, v1.1.0-alpha. If not fixed for you, please feel free to re-open the issue.

[2016-06-16 20:47] #20 closed, assigned to MahmoudGSaleh

[2016-06-16 21:00] MahmoudGSaleh commented on #26
My apologies! Looks like insider preview builds were not published yet.

You can still download Insider preview build **14342** from [http://go.microsoft.com/fwlink/?LinkId=733603](http://go.microsoft.com/fwlink/?LinkId=733603).
However, you'll need to join the [Windows Insider program](https://insider.windows.com/Home/Index)

[2016-06-16 21:02] MahmoudGSaleh commented on #26
And, here are instructions to manually install an Insider build: [https://developer.microsoft.com/en-us/windows/iot/win10/GetStartedManually.htm](https://developer.microsoft.com/en-us/windows/iot/win10/GetStartedManually.htm)

[2016-06-17 20:37] andyfung commented on #26
ValueChanged seems to work now. Thanks.

[2016-06-17 20:42] MahmoudGSaleh commented on #26
@andyfung Thanks for confirming!

[2016-06-17 20:42] #26 closed, assigned to MahmoudGSaleh

[2016-07-10 20:07] amcelroy opened #37 "SPI Bus 1 Select?"
Howdy,

I can access the SPI0 bus just fine, but also need to access the SPI1 bus on a R Pi 3. This is not an issue using the SpiDevice methods without Lightning.

Can an example be added or an small note made on how to select other SPI buses?

[2016-07-27 08:29] AlexandrSurkov opened #39 "Any ways to control ACK and NACK on I2C"
Hello!
Is there any way to control ACK\NACK responses for I2C from C#?
I need to simulate some device that respond NACK for START condition when device is busy...

[2016-07-28 16:50] crpietschmann opened #40 "Why isn't AdcMcp3008 in Nuget?"
Why isn't this code packaged and released in Nuget?

[2016-07-28 17:22] crpietschmann commented on #40
Well, I compiled it and put it into Nuget since it looks to be a very long time since anyone updated things...

Here it is: [https://www.nuget.org/packages/Microsoft.IoT.AdcMcp3008/](https://www.nuget.org/packages/Microsoft.IoT.AdcMcp3008/)

[2016-07-28 17:22] #40 closed, assigned to nobody

[2016-08-02 12:43] mmccullo opened #41 "Expose a virtual byte-sized port for GPIO"
Many applications have need of an 8-bit parallel transfer of I/O. Is it possible to expose at least one virtual "SetPort/ReadPort" command in the GPIO library that would allow reading/writing of 8 pre-selected GPIO lines in parallel?

For many applications the bit-by-bit read/write limitation of the API is too slow.

[2016-08-23 09:54] CodeChief commented on #26
Unfortunately this is just not performing for PWM input (pulse length/timing) calculation. Because we didn't get the timestamp property I requested, it appears that the lower level (higher priority) event handling is now causing more of a delay to my user code. Meaning in end effect that attempts at "after the fact" PWM decoding are now worse!

Here are some actual values from the current Lightnin

[2016-08-23 10:08] CodeChief opened #42 "Need timestamp on ValueChanged event to decode PWM"
Following on from issue #26 I'd like to officially request support for a timestamp in the ValueChanged event. It was nice to get the ValueChanged support at all in the Lightning provider, but unfortunately it has not yielded any benefit for PWM decoding, in fact made it worse. See my last post there for some sample results which demonstrate this degradation.

Please add a timestamp to the value ch

[2016-08-23 15:29] jessekaplan commented on #26
If you sign up for Windows Insider, the next preview build\* of IoT Core will provide a timestamp, captured as early as possible, for each interupt. We'll also store them in a reasonably large (1 page) buffer so you don't have to service the events in real time to get the appropriate data. Please give it a try and let us know if it meets your needs.

We're working on better reconciliation between

[2016-08-23 15:44] CodeChief commented on #26
Wow that is exactly what we need! That will close #42 when it is released :+1:  I'm already using the insider build and downloaded the preview a few days ago, but I'll check again regularly until I see something new.

[2016-09-28 17:00] MahmoudGSaleh commented on #37
Currently, SPI1 is not supported with Lightning. We will try to fix that in a future iteration.

[2016-09-28 17:01] MahmoudGSaleh commented on #34
This has been fixed in the latest Lightning Nuget 1.1.0

[2016-09-28 17:01] #34 closed, assigned to MahmoudGSaleh

[2017-01-13 18:02] CodeChief commented on #42
No updates in months and other issues left unanswered. Is Lightning dead?

[2017-01-19 23:32] ghost opened #44 "Pi 3 - DmapSupport GetControllerBaseAddress for BCM2844 does not find device???"
I've been trying to enable either PWM0 or PWM1 using the proper alternate function calls to the relevant register on the BCM2835.  I think I have the pin configured properly but now I need to enable the PWM in the proper register in the BCM2844 chip.  I can see the "#define pi2PwmDeviceName" in the DmapSupport.h file but when I try to use the "GetControllerBaseAddress" function using the PWM devic

[2017-01-24 06:30] IoTGirl commented on #4
Poster has not responded with more detail in over 1 year - closing as stale.

[2017-01-24 06:30] #4 closed, assigned to jessekaplan

[2017-01-25 17:10] IoTGirl commented on #42
Hi Mahmoud,
Would you please review this feature request?  @jessekaplan stated in [#26](https://github.com/ms-iot/BusProviders/issues/26)

Sincere thanks,
IoTGirl

[2017-01-25 17:14] IoTGirl commented on #37
Closing - Answer was given

[2017-01-25 17:14] #37 closed, assigned to MahmoudGSaleh

[2017-01-25 17:19] IoTGirl commented on #32
Closing as stale and Microsoft was unable to reproduce the issue. Please reopen with full details of the issue if it still occurs.  For guidance we ask for the following starting details:

1. Full details of the hardware and software involved
2. Reproduction steps someone would take to see the issue
3. Actual Result with error codes etc
4. Expected result

[2017-01-25 17:19] #32 closed, assigned to MahmoudGSaleh

[2017-01-25 17:23] IoTGirl commented on #44
Hi jamoeder,

I reached out to a member of the IoT Core Team and have the following answer for you:

Please try the Lightning solution as it should meet your needs.
Sincerely,
IoTGirl

[2017-01-25 17:23] #44 closed, assigned to MahmoudGSaleh

[2017-01-25 23:39] ghost commented on #44
Thanks so much for the reply.  I really appreciate it.

The HW PWM in the Lightning solution is for a breakout board (PCA9685).  Although this is not the preferred solution it will work but I have to buy new hardware which is something I'd like to avoid if possible.  Did they run out of time before the current IOT release or was there a specific limitation that stopped them from enabling the BCM28

[2017-01-26 18:30] IoTGirl commented on #44
Hi Jim,

I have the following responses for you

While I would still agree with Jesse, if he wants to look through the dmap code it is located here https://github.com/ms-iot/lightning

So it was a conscious decision not to enable as the HW would not meet expected performance.  Although Microsoft is not going to enable it, you can look at the code yourself and if you are realistic about the perf yo

[2017-01-27 16:15] ghost commented on #44
Great Answer!  Thank you (and Jesse) very much for the clarification.

So...  For fun and profit, what are the chances you can post the DMAP drivers so I can enable BCM2844 chip and allow access to the PWM registers?  If I can get it to work I'd be happy to share?

[2017-01-30 20:21] jordanrh1 commented on #41
We do not have any plans to implement this feature, but would accept a (well tested) pull request that added this feature to the Wiring library for Windows.

[2017-01-30 20:24] jordanrh1 commented on #39
If the device fails to acknowledge its slave address, an exception will be thrown. If you wish to handle this in an exception-free way, use `I2cDevice.WritePartial/ReadPartial/WriteReadPartial`. They will return I2cTransferStatus.SlaveAddressNotAcknowledged if the slave address is not acknowledged.

It is not possible to simulate an I2C device on Windows because we support host mode only. We do no

[2017-01-30 20:25] jordanrh1 commented on #42
Look for `Windows.Devices.Gpio.GpioChangeReader` in the latest insider release SDK.

[2017-01-30 20:28] IoTGirl commented on #29
Over 6 months with no new input - Closing

[2017-01-30 20:28] #29 closed, assigned to jordanrh1

[2017-01-30 20:29] IoTGirl commented on #41
Answer given - Closing Issue

[2017-01-30 20:29] #41 closed, assigned to nobody

[2017-01-30 20:29] IoTGirl commented on #39
Answer given - Closing issue

[2017-01-30 20:29] #39 closed, assigned to nobody

[2017-01-30 20:31] IoTGirl commented on #42
Thanks Jordan! Closing this issue based on the latest response.

[2017-01-30 20:31] #42 closed, assigned to MahmoudGSaleh

[2017-03-20 23:48] IoTGirl commented on #23
@msalehmsft review - This can be closed

[2017-03-20 23:48] #23 closed, assigned to MahmoudGSaleh

[2017-03-20 23:54] IoTGirl commented on #19
Closing after review by @msalehmsft - Unable to reproduce this issue.

[2017-03-20 23:54] #19 closed, assigned to MahmoudGSaleh

[2017-04-06 14:03] chaholl commented on #19
I've experienced the same issue. The problem can be replicated by following this hackster project and enabling Lightning drivers: https://www.hackster.io/dotMorten/windowsiottouch-44af19

Some further investigation revealed that the problem occurs when more than one thread is accessing the SPI device at the same time. For some reason the old driver was more tolerant of that behaviour but the light

[2017-06-28 17:37] IoTGirl commented on #25
Closing Stale - Issue was raised with VS.

[2017-06-28 17:37] #25 closed, assigned to bfjelds

[2017-11-20 20:03] IotLightning opened #49 "Is GpioChangeReader not supported with Lightning ?"
Hi,

When I try to use the GpioChangeReader with the direct memory mapped driver I get an exception.
This even occurs in the insider preview version : v.10.0.17035.1000
Is it supported in lightning or is it an implementation error on my side ?
When I switch to the inbox driver everything works just fine.

Best regards

[2018-02-05 08:36] mrajaraghavan commented on #26
ValueChanged is not working for me. I'm using Minnowboard Turbot dual core with windows iot build 16299. I have added Microsoft.IoT.Lightning v1.1.0. I wanted to capture an interrupt continuously (which is generated at an interval rate of less than 100 micro seconds) using a gpio as input pin. I'm able to set a gpio as output also. Now i need to use ValueChanged. Can anyone help me in this regard.

[2018-02-07 07:43] mrajaraghavan opened #50 "Support ValueChanged in Lightning Provider for MinnowBoard with Windows IoT build 16299"
With reference to the case #26.

ValueChanged is not working for me. I'm using Minnowboard Turbot dual core with windows iot build 16299. I have added Microsoft.IoT.Lightning v1.1.0. I wanted to capture an interrupt continuously (which is generated at an interval rate of less than 20 micro seconds and operates at a Frequency of 50-60 kHz ) using a gpio as input pin. I'm able to set a gpio as outpu

[2018-03-07 10:52] mrajaraghavan commented on #50
Awaiting any response from your end which will help me a lot in my work.
Thanks in advance.

[2018-03-27 09:37] Vincation opened #51 "Network Adapter Priorities in IoT broken after creators fall update"
Hi,

After posting on the MSDN forum I was redirected here.

We have a board with 2 LAN ports, WiFi and an MBIM modem running Windows IoT core.

After the recent update of Windows IoT core our combination of an ethernet connection on a LAN port and the MBIM modem stopped working.

Everything was working fine a few months ago. A recent Windows update (1709) however made sure that if you have an act

[2018-03-27 10:07] Vincation commented on #51
Only one LAN Port (OR wifi) without internet and a MBIM modem are enough to reproduce te problem. also on a normal Win 10 1709.

You put a static address on the lan cable. no gateway filled in. So "route print"/"netstat -rn" looks fine.

If the cable is connected, no internet trough the cellular modem.

Without a cellular modem: for example one LAN without internet. wifi with internet -> works fin

[2018-08-13 18:26] ooeygui commented on #49
Sorry for the delay in responding. GpioChangeReader is not supported with Lightning (it uses a completely different API). If you need change reader, please use the standard driver.

[2018-08-13 18:26] #49 closed, assigned to nobody

[2018-11-09 19:33] saraclay commented on #50
Hello,

If this is still an issue for you, could you please repost this in our MSDN forums? We have staff there that are monitoring the forums and will be able to help you.

MSDN forums: https://social.msdn.microsoft.com/forums/en-US/home?forum=WindowsIoT

[2018-11-09 19:33] saraclay commented on #51
Hello,

If this is still an issue for you, could you please repost this in our MSDN forums? We have staff there that are monitoring the forums and will be able to help you.

MSDN forums: https://social.msdn.microsoft.com/forums/en-US/home?forum=WindowsIoT

[2018-11-10 06:28] mrajaraghavan commented on #50
Yes still that problem is not solved. Can you help in this regard

[2018-11-12 09:36] Vincation commented on #51
Hey Sara,

Thanks for following up on this. I forgot to close this one.
You got me an answer on the Windows IoT core docs Git in May which is still working.
https://github.com/MicrosoftDocs/windows-iotcore-docs/issues/343#issuecomment-388127051

[2018-11-12 09:36] #51 closed, assigned to nobody

[2018-12-14 19:31] saraclay commented on #50
Please post this issue on MSDN forums:
https://social.msdn.microsoft.com/forums/en-US/home?forum=WindowsIoT

[2018-12-14 21:33] #50 closed, assigned to nobody